.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__Grid {
  display: grid;
  grid-template-rows: 55px 200px 120px 55px;
  max-width: 335px;
  width: 100%;
}
